<div class="price {{bemMix}}">
	<p class="price__old">{{oldPrice}}
		цена без скидки</p>
	<div class="price__container">
		<p class="price__new">{{ price }}</p>
		<p class="price__discount">{{ discount }}</p>
	</div>
	<div class="price__container">
		<p class="price__amount">{{packed}}
			штук в уп.</p>
		<input class="price__checkbox visually-hidden" type="checkbox" name="Package" id="Package" checked="">
		<label class="price__label" for="Package">Заказ упаковкой</label>
	</div>
</div>
